{% extends 'app/base/base.html' %}
{% load static %}

{% block title %}
    Asosiy productlar
{% endblock %}

{% block main_content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row flex-between-center">
                <div class="col-sm-auto mb-2 mb-sm-0">
                    <h6 class="mb-0">Showing 1-24 of 205 Products</h6>
                </div>
                <div class="col-sm-auto">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto">
                            <form class="row gx-2">
                                <div class="col-auto"><small>Sort by: </small></div>
                                <div class="col-auto">
                                    <select class="form-select form-select-sm" aria-label="Bulk actions">
                                        <option selected="">Best Match</option>
                                        <option value="Refund">Newest</option>
                                        <option value="Delete">Price</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-auto pe-0"><a class="text-600 px-1"
                                                      href="../../../app/e-commerce/product/product-grid.html"
                                                      data-bs-toggle="tooltip" title="Product Grid"><span
                                class="fas fa-th"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body p-0 overflow-hidden">
            <div class="row g-0">
                {% for product in products %}
                    <div class="col-12 p-card bg-100">
                        <div class="row">
                            <div class="col-sm-5 col-md-4">
                                <div class="position-relative h-sm-100"><a class="d-block h-100"
                                                                           href="{% url 'product_details' product.id %}"><img
                                        class="img-fluid fit-cover w-sm-100 h-sm-100 rounded-1 absolute-sm-centered"
                                        src="{% static "app/assets/img/products/3.jpg" %}" alt=""/></a>
                                </div>
                            </div>
                            <div class="col-sm-7 col-md-8">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h5 class="mt-3 mt-sm-0"><a class="text-dark fs-0 fs-lg-1"
                                                                    href="{% url 'product_details' product.id %}">
                                            {{ product.title }}</a></h5>

                                        <ul class="list-unstyled d-none d-lg-block">
                                            <li><span class="fas fa-circle"
                                                      data-fa-transform="shrink-12"></span><span>{{ product.description }}</span>
                                            </li>
                                            <li><span class="fas fa-circle"
                                                      data-fa-transform="shrink-12"></span><span>{{ product.amount }}</span>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-lg-4 d-flex justify-content-between flex-column">
                                        <div>
                                            <h4 class="fs-1 fs-md-2 text-warning mb-0">${{ product.price }}</h4>
                                            <div class="mb-2 mt-3"><span class="fa fa-star text-warning"></span><span
                                                    class="fa fa-star text-warning"></span><span
                                                    class="fa fa-star text-warning"></span><span
                                                    class="fa fa-star text-warning"></span><span
                                                    class="fa fa-star-half-alt text-warning star-icon"></span><span
                                                    class="ms-1">(13)</span>
                                            </div>
                                            <div class="d-none d-lg-block">
                                                <p class="fs--1 mb-1">Shipping Cost: <strong>$65</strong></p>
                                                <p class="fs--1 mb-1">Stock: <strong
                                                        class="text-success">Available</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="mt-2"><a
                                                class="btn btn-sm btn-outline-secondary border-300 d-lg-block me-2 me-lg-0"
                                                href="#!"><span class="far fa-heart"></span><span
                                                class="ms-2 d-none d-md-inline-block">Favourite</span></a><a
                                                class="btn btn-sm btn-primary d-lg-block mt-lg-2"
                                                href="#!"><span class="fas fa-cart-plus"> </span><span
                                                class="ms-2 d-none d-md-inline-block">Add to Cart</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer border-top d-flex justify-content-center">
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}">
                    <button class="btn btn-falcon-default btn-sm me-2" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Prev"><span
                            class="fas fa-chevron-left"></span></button>
                </a>
            {% endif %}

            {% if products.has_previous %}
                <a class="btn btn-sm btn-falcon-default  me-2"
                   href="?page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a>
            {% endif %}
            {#                        class="btn btn-sm btn-falcon-default me-2" href="#!">2</a><a#}
            <a class="btn btn-sm btn-falcon-default text-primary me-2"
               href="?page={{ products.number }}">{{ products.number }}</a>
            {% if products.has_next %}
                <a class="btn btn-sm btn-falcon-default me-2"
                   href="?page={{ products.next_page_number }}">{{ products.next_page_number }}</a>
            {% endif %}
            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">
                    <button class="btn btn-falcon-default btn-sm" type="button" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Next"><span class="fas fa-chevron-right"></span>
                    </button>
                </a>

            {% endif %}

        </div>
    </div>
{% endblock %}
