{% extends 'app/auth/base_auth.html' %}
{% load static %}

{% block title %}
    Logout
{% endblock %}

{% block main_content %}
    <div class="card-body p-4 p-sm-5">
                <div class="text-center"><img class="d-block mx-auto mb-4"
                  src="{% static 'app/assets/img/icons/spot-illustrations/45.png' %}" alt="shield" width="100" />
                  <h4>See you again!</h4>
                  <p>Thanks for using Falcon. You are <br />now successfully signed out.</p>
                    <a class="btn btn-primary btn-sm mt-3" href="{% url 'index' %}">
                    <span class="fas fa-chevron-left me-1" data-fa-transform="shrink-4 down-1">

                    </span>Return to Main page</a>
                </div>
              </div>
{% endblock %}
